body{
    margin: 0px;
    font: roboto;
}

html{
    box-sizing: border-box;
}

/* ## PHONES BREAKPOINT ## */





@media screen and (max-width: 600px){

    .header_section{
        background-color: white;
        padding: 0px;
        min-height: 30px;
    }

    .header{
        max-width: 500px;
        margin: auto;
    }

    .header_container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        width: 60px;
        padding: 20px 40px ;
    }

    .menu_button{
        background: transparent;
        border: 0px;
        outline: none;
        padding: 20px 40px;
    }

    .close_button{
        font-size: 1.5em;
        color: white;
        background: transparent;
        border: 0px;
        outline: none;
        padding: 10px;
        display: none;
    }

    .header_list{
        display: none;
        width: 100%;
    }


    .header_list ul {
        display: block;
        padding: 0px;
    }
      
    .header_list ul li {
        text-decoration: none;
        list-style: none;
        padding: 0px 10px;
        padding-top: 20px;
        border-bottom: 1px solid #e63838;
    }

    .hero_section{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .hero_container{
        margin: 0px;
        padding: 0px;
    }

    .hero_text{
        background: url('./images/sustain.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 400px;

    }

    .hero_text h1{
        color: white;
        font-size: 2em;
        font-weight: bold;
        padding-top: 100px;
        padding-bottom: 30px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
    }

    .hero_text a{
        color: white;
        background-color: transparent;
        text-decoration: none;
        font-size: 1.1em;
        border: 2px solid white;
        border-radius: 0px;
        padding: 10px;
    }

    .hero_text a:hover{
        cursor: pointer;
        background-color: white;
        color: black;
    }

    .solar_energy{
        width: 100%;
        padding: 0px;
        margin: 50px 0px 0px 0px ;
    }

    .container{
        max-width: 400px;
        margin: auto;
    }

    .main_text{
        margin: 0px;
        padding: 0px;
    }

    .main_text h1{
        margin: 0px;
        padding: 0px;
        font-size: 2em;
        font-weight: bold;
    }

    .main_text p{
        margin: 30px 0px 0px 0px;
        padding: 0px;
        font-size: 1.1em;
    }

    .main_image img{
        max-height: 400px;
        width: 100%;
        margin: 30px 0px 0px 0px;
    }

    
    .solar_energy_cta{
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .solar_energy_cta img{
        max-height: 400px;
        width: 100%;
    }

    .solar_energy_cta h1{
        margin: 30px 0px 0px 0px;
        padding: 0px;
        font-size: 2em;
        font-weight: bold;
    }

    .solar_energy_cta p{
        margin: 0px 0px 0px 0px;
        padding: 0px;
        font-size: 1.1em;
        margin-bottom: 30px;
    }

    .solar_energy_cta a{
        color: white;
        background-color: black;
        text-decoration: none;
        font-size: 1.1em;
        /* border: 2px solid white; */
        border-radius: 0px;
        padding: 10px;
    }

    .solar_energy_cta a:hover{
        color: black;
        border: 2px solid black;
        background-color: transparent;
        cursor: pointer;
    }

    .cta_continued{
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .cta_continued h1{
        margin: 30px 0px 0px 0px;
        padding: 0px;
        font-size: 2em;
        font-weight: bold;
    }

    .cta_continued p{
        margin: 0px 0px 0px 0px;
        padding: 0px;
        font-size: 1.1em;
        margin-bottom: 30px;
    }

    .cta_continued a{
        color: white;
        background-color: black;
        text-decoration: none;
        font-size: 1.1em;
        /* border: 2px solid white; */
        border-radius: 0px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .cta_continued a:hover{
        color: black;
        border: 2px solid black;
        background-color: transparent;
        cursor: pointer;
    }

    .cta_continued img{
        margin-top: 30px;
        max-height: 500px;
        width: 100%;
    }

    .benefits{
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .benefits h1{
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }

    }
    .box{
        background-color: white;
        max-width: 300px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 4px #dddddd;
    }

    .box img{
        width: 75px;
        margin: 0px;
        padding: 0px;
    }

    .box h2{
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0px;
        padding: 0px;
    }

    .box p{
        font-size: 1.1em;
        margin: 0px;
        padding: 0px;
    }

    .email{
        max-width: 400px;
        margin: auto;
        padding-top: 50px;
        width: 100%;
    }

    .email h1{
        font-size: 2.5em;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    }

    .email p{
        font-size: 1.1em;
        padding: 0px;
        margin: 10px 0px 20px 0px;
    }

    .form_element label{
        display: none;
    }

    .form_element input{
        width: 70%;
        outline: #aaaaaa;
        padding: 10px 15px;
        border: 1px solid #aaaaaa;
        margin: 0px;
    }

    .form_element a{
        text-decoration: none;
        border-radius: 0px;
        background-color: black;
        color: white;
        padding: 10px;
        margin: 0px;
        width: 30%;
    }

    .form_element a:hover{
        border: 2px solid black;
        background-color: transparent;
        color: black;
    }

    .email img{
        width: 100%;
        margin: 30px auto 0px auto;
        max-height: 400px;
        padding-top: 30px;
    }

    .footer{
        background-color: #222222;
        text-align: center;
        color: white;
        min-height: 20px;
        padding: 10px 0px;
        margin: 0px;
        width: 100%;
    }

